@model CRUDWebApp.Models.Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container p-3 border">
    <form asp-controller="Blog" asp-action="add" method="post" enctype="multipart/form-data">
         <input asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Title">Tytuł</label>
            <input asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Treść:</label>
            <input asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Obrazek</label>
            <input  type="file" name = "image" accept="image/*"/>
        </div>
        <button type="submit" class="btn btn-primary">Dalej</button>
    </form>
</div>